@page
@model QuanLyySinhVien.Pages.Teacher.IndexModel
@{
    ViewData["Title"] = "Teacher";
}

<div class="container" style="margin:3rem auto">
    <h3>Trang giảng viên</h3>
    <p>Chỉ dành cho giảng viên.</p>
</div>