@page
@model QuanLyySinhVien.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container" style="margin:3rem auto">
    <h3>Trang quản trị</h3>
    <p>Chỉ dành cho quản trị viên.</p>
</div>